<h1>Update your $cuisine.getDescription():</h1>

<form action="/cuisines/$cuisine.getId()/update" method="post">
  <label for="description">New Cuisine Name</label>
  <input id="description" name="description" type="text">
  <button type="submit" class="btn btn-success">Submit</button>
</form>
